// PRIMARY COLORS

$wizard: #FFFFFF;
$text-dark: #1B212D;
$text-ash: #78778B;
$border-ash: #F2F2F2;
$king-blue: #6562F9;
$accent: #F5F2FD;
$info-blue: #ABDBFF;
$rash-blue: #20238C;

// STATUS COLOURS
$success: #10A728;
$danger: red;
$warning: #E69215;

// FONT VARIABLES
$font-general: "Poppins", sans-serif;

// BOX LAYOUT
$box-shadow: 0 2rem 3rem var($border-ash);
$border-radius-small: 0.5rem;
$border-radius : 1.2rem; 
$border-radius-curve: 2rem;

// TEXT LAYOUT
$icon-size: 15px;
$text-size: 14px;