// /* main layout */
main.container {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 50% 50%;
    @media (max-width: 600px) {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
    }
}
// FORM SUPER CONTAINER 

// SIDE SECTION
.form-container, .desc {
    padding: 4% 10% 0 10%;
}
.desc {
    @media (max-width:600px) {
        .description {
            display: none;
        }
    }
}
.form-container {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}
.form-container::-webkit-scrollbar {
    width: 7px;
}

.form-container::-webkit-scrollbar-track {
    background: $border-ash;
}
.form-container::-webkit-scrollbar-thumb {
    background: $text-ash;
}

.logo-con {
    a {
        width: 10%;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        text-decoration: none;
        color: $text-dark;
        img.logo {
            width:50px;
        }
    }
    @media (max-width: 600px){
        a {
            img.logo {
                width: 30px;
            }
            h1 {
                font-size: 1em;
            }
        }
    }
}



// FIELD CONTAINER

.field-container {
    display: flex;
    flex-direction: column;
}
.field-container > h1 {
    font-size: 2rem;
    font-weight: 400;
    color: $text-dark;
    text-align: center;
    margin-top: 20px;
}
.field-container > p {
    color: $text-ash;
    text-align: center;
    margin-bottom: 20px;
}

@import './register/RegisterForm.scss';
@import '../elements/button.scss';
@import '../elements/inputfield.scss';

button.btn-pry.register {
    width: 100%;
}

// LOGGED IN OR REGISTERED
.logged-in {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px;
}
.logged-in {
    a {
        color: $king-blue;
    }
}
.logged-in {
    a:hover {
        text-decoration: underline;
    }
}
.logged-in {
    img {
        position: absolute;
        bottom: -50%;
        right: 30%;
        @media(max-width:600px){
            right: 10%;
        }
    }
}