.analytics {
    display: flex;
    gap: 30px;
}
.analytics-items {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .recent-con {
        border: 1px solid $text-ash;
        border-radius: $border-radius-small;
        max-height: 40vh;
        overflow: hidden;
        width: 100%;
        .head-tag {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            span.dots {
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
            span.blue {
                background: $king-blue;
            }
            span.black {
                background: $text-dark;
            }
            span:last-child {
                color: $text-ash;
                position: absolute;
                right: 1%;
                cursor: pointer;
            }
        }
        .subtag-description {
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            background: $border-ash;
            padding: 3px 10px;
            p {
                text-align: center;
                font-size: 12px;
                color: $text-ash;
            }
        }
    }
}


.password-items {
    max-height: 75%;
    overflow-y: scroll;
}
.password-items::-webkit-scrollbar {
    width: 7px;
}

.password-items::-webkit-scrollbar-track {
    background: $border-ash;
}
.password-items::-webkit-scrollbar-thumb {
    background: $text-ash;
}
.password-items {
    li {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding: 20px 10px;
        text-align: center;
        border-bottom: 1px solid $border-ash;
        .for-copy {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            button {
                background: transparent;
                cursor: pointer;
            }
        }
        .for-pass {
            cursor: pointer;
        }
        .for-status {
            font-weight: 700;
        }
        .for-status.strong {
            color: $success;
        }
        .for-status.compromised {
            color: $warning;
        }
        .for-status.weak {
            color: $danger;
        }
    }
}
