/* Pop up environment */
.popup-env {
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    overflow: auto;
    // display: none;
    .pop-section {
        background: $wizard;
        border-radius: $border-radius-small;
        width: 35vw;
        margin:80px auto;
        padding: 30px;
        @media(max-width:600px){
            width: 90%;
        }
    }
}
button.close-btn {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
button.close-btn:hover {
    background: $border-ash;
    border-radius: 50%;
}
.pop-section {
    h2 {
        color: $text-ash;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .btn-pry {
        width: 100%;
    }
}

.detail-type {
    width: 100%;
    position: relative;
    cursor: pointer;
    .options {
        display: none;
    }
    .options::-webkit-scrollbar {
        width: 7px;
    }
    
    .options::-webkit-scrollbar-track {
        background: $border-ash;
    }
    .options::-webkit-scrollbar-thumb {
        background: $text-ash;
    }
    .options.active {
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: absolute;
        z-index: 10;
        margin-top: 10px;
        width: 100%;
        background-color: $wizard;
        box-shadow: 0 4px 8px rgba($text-ash, 0.25);
        border-radius: $border-radius-small;
        padding: 15px;
        max-height: 200px;
        overflow-y: scroll;
        button {
            width: 100%;
            text-align: left;
            padding: 10px;
            border-radius: $border-radius-small;
            background: $wizard;
            cursor: pointer;
        }
        button:hover {
            background: $border-ash;
        }
    }
}
.detail-type label, .input-field label {
    font-size: 14px;
    color: $text-ash;
    padding-top: 10px;
}
.detail-type > span {
    position:absolute;
    top: 50%;
    right: 5%;
    font-size: 20px;
    color: $text-ash;
}

#type-info, #folder-info {
    width: 100%;
    padding: 15px;
    border: 1px solid $text-ash;
    border-radius: $border-radius-small;
    font-size: 14px;
    font-family: $font-general;
    color: $text-dark;
    appearance: none;
    cursor: pointer;
}
.input-field  {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
    input {
        width: 100%;
        border: 1px solid $text-ash;
        padding: 15px 50px 15px 15px;
        border-radius: $border-radius-small;
    }
    span {
        position: absolute;
        top: 55%;
        right: 5%;
        font-size: 20px;
        color: $text-ash;
        cursor: pointer;
    }
    span.view {
        right: 12%;
    }
    input.password {
        padding-right: 70px;
    }
}

.check {
    display: flex;
    gap: 10px;
    margin: 10px 0;
    input {
        border: 1px solid $text-ash;
    }
}



.pop-section {
    textarea {
        border: 1px solid $text-ash;
        width: 100%;
        height: 100px;
        padding: 10px;
        border-radius: $border-radius-small;
        resize: none;
    }
    p {
        text-align: center;
    }
    form {
        .range {
            border: 1px solid $text-ash;
            padding: 20px;
            border-radius: $border-radius-small;
            .range-field {
                display: flex;
                margin-top: 10px;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .range-input {
                    width: 80%;
                    -webkit-appearance: none;
                    height: 3px;
                    background: $text-ash;
                    outline: none;
                    border-radius: $border-radius-small;
                }
                .range-input::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background: $king-blue;
                    cursor: pointer;
                }
                .range-value-field {
                    width: 20%;
                    border: 1px solid $text-dark;
                    padding: 10px;
                    border-radius: $border-radius-small;
                }
            }
        }
    }
    ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        button {
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            li {
                font-size: 3rem;
                cursor: pointer;
            }
        }
        .on {
            color: $king-blue;
        }
        .off {
            color: #ccc;
        }
    }
}

@import '../../elements/Notice.scss'
