.password-blocks {
    display: flex;
    gap: 20px;
    .block {
        padding: 25px;
        width: 300px;
        height: 150px;
        border: 1px solid $text-ash;
        border-radius: $border-radius-small;
        .passblock-des {
            display: flex;
            align-items: center;
            gap: 10px;
            span {
                color: $king-blue;
                font-weight: 700;
            }
        }
        h1 {
            color: $text-dark;
            font-size: 64px;
            font-weight: 300;
        }
    }
    .block:hover {
        background: $border-ash;
    }
}

button.new-item, .btn-pry {
    width: 200px;
    margin: 0;
}