// PRIMARY BUTTON

button.btn-pry {
    color: $wizard;
    background: $king-blue;
    margin: 10px 0;
    padding: 15px;
    border-radius: $border-radius-small;
    cursor: pointer;
    transition: 0.3s all;
}
button.btn-pry:hover {
    background: $text-dark;
}

// TRANSPARENT BUTTON

button.btn-trans {
    width: 80%;
    margin: auto;
    padding: 12px;
    background: transparent;
    border: 2px solid $border-ash;
    border-radius: $border-radius-small;
    cursor: pointer;
}

button.google-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: 0.3s all;
}
button.google-auth:hover {
    background: $border-ash;
}