.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    .wait-text {
        color: $wizard;
        font-size: 1.2rem;
    }
}